schemas/xsd/mef-order.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mef-order="http://cableapi.cablelabs.com/schemas/v2" elementFormDefault="qualified" targetNamespace="http://cableapi.cablelabs.com/schemas/v2">
  <xs:element name="mef-order" type="mef-order:mef-order"/>
  <xs:complexType name="mef-order">
    <xs:sequence>
      <xs:element minOccurs="0" name="order" type="mef-order:order"/>
      <xs:element minOccurs="0" name="order-create-update" type="mef-order:order-create-update"/>
      <xs:element minOccurs="0" name="orderNotification" type="mef-order:orderNotification"/>
      <xs:element minOccurs="0" name="orderStatus" type="mef-order:orderStatus"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="accessEplOrderItemDetail">
    <xs:sequence>
      <xs:element minOccurs="1" name="action">
        <xs:annotation>
          <xs:documentation>The action to be taken for this order item (E.g. Install, Change).</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="INSTALL"/>
            <xs:enumeration value="CHANGE"/>
            <xs:enumeration value="NO_CHANGE"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="sellerOvcId">
        <xs:annotation>
          <xs:documentation>The circuit identifier that the Seller uses to refer to this OVC.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="45"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" name="buyerOvcId">
        <xs:annotation>
          <xs:documentation>The circuit identifier that the Partner/Access Provider (Buyer) uses to refer to this OVC.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="45"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="productSpecification">
        <xs:annotation>
          <xs:documentation>An identifier of the Partner/Access Provider (Seller) Product Specification (product catalog item) that the buyer is ordering at the Access-EPL level.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="enniSvlanId">
        <xs:annotation>
          <xs:documentation>The S-VLAN ID to be used for this service or the 1st value requested when a range is used.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="4095"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="enniSvlanIdLast">
        <xs:annotation>
          <xs:documentation>The last S-VLAN ID to be used for this service when a range is requested.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="4095"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="mtuSize">
        <xs:annotation>
          <xs:documentation>The maximum transmission unit size specifies the maximum length ENNI Frame in bytes allowed at the ENNI. An integer greater or equal to 1526.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="1526"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="colorForwardingEnabled" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Color Forwarding is an OVC attribute defining the relationship between the color on an egress ENNI frame and the color of the corresponding ingress ENNI Frame or Service Frame.  For ordering, this attribute identifies if the Buyer requests Color Forwarding for this service</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="classOfService">
        <xs:annotation>
          <xs:documentation>The name of the service level for this Access EPL. (E.g. Gold).</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="enniReference">
        <xs:annotation>
          <xs:documentation>A reference to an existing or ordered ENNI.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:choice>
            <xs:element name="orderedEnniReference" type="mef-order:orderedEnniReference"/>
            <xs:element name="existingEnniReference" type="mef-order:existingEnniReference"/>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="enniSiteContact" type="mef-order:contact">
        <xs:annotation>
          <xs:documentation>The primary site contact for the ENNI site.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="enniSiteAlternateContact" type="mef-order:contact">
        <xs:annotation>
          <xs:documentation>The secondary site contact for the ENNI site.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="enniIngressBandwidthProfile" type="mef-order:bandwidthProfile">
        <xs:annotation>
          <xs:documentation>The ingress bandwidth profile at the ENNI end of the OVC that implements the Access EPL.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="uniReference">
        <xs:annotation>
          <xs:documentation>A reference to an existing or ordered UNI.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:choice>
            <xs:element name="orderedUniReference" type="mef-order:orderedUniReference"/>
            <xs:element name="existingUniReference" type="mef-order:existingUniReference"/>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="uniSiteContact" type="mef-order:contact">
        <xs:annotation>
          <xs:documentation>The primary site contact for the UNI site. The UNI site contacts are ONLY required when the UNI is NOT on the same Order as the Access EPL.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="uniSiteAlternateContact" type="mef-order:contact">
        <xs:annotation>
          <xs:documentation>The secondary site contact for the UNI site. The UNI site contacts are ONLY required when the UNI is NOT on the same Order as the Access EPL.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="uniIngressBandwidthProfile" type="mef-order:bandwidthProfile">
        <xs:annotation>
          <xs:documentation>The ingress bandwidth profile at the UNI end of the OVC that implements the Access EPL.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addressReference">
    <xs:sequence>
      <xs:element minOccurs="0" name="referenceType">
        <xs:annotation>
          <xs:documentation>The type of the reference.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="reference">
        <xs:annotation>
          <xs:documentation>The reference can be used to identify an address.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="60"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bandwidthProfile">
    <xs:sequence>
      <xs:element minOccurs="0" name="committedInformationRate" type="mef-order:informationRateQuantity">
        <xs:annotation>
          <xs:documentation>The ingress bandwidth profile at the ENNI end of the OVC that implements the Access EPL.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="committedBurstSize">
        <xs:annotation>
          <xs:documentation>Limits the maximum number of bytes available for a burst of Service or ENNI Frames sent at the EI speed to remain CIR- onformant. MUST be &gt;= 12176.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="excessInformationRate" type="mef-order:informationRateQuantity">
        <xs:annotation>
          <xs:documentation>If specified, defines the average rate in bits/s of Service or ENNI Frames up to which the network may deliver Service or Network Frames but without any performance objectives.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="excessBurstSize">
        <xs:annotation>
          <xs:documentation>If specified, limits the maximum number of bytes available for a burst of Service or ENNI Frames sent at the EI speed to remain EIR-conformant.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="colorMode">
        <xs:annotation>
          <xs:documentation>Color Mode parameter indicates whether the color-aware or color-blind property is employed by the Bandwidth Profile.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="COLOR_AWARE"/>
            <xs:enumeration value="COLOR_BLIND"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="couplingFlag" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>The Coupling Flag allows the choice between two modes of operation of the Bandwidth Profile algorithm.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="billingInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="existingBillingAccountNumber">
        <xs:annotation>
          <xs:documentation>Identifies an existing billing account to which the recurring and non-recurring charges for this request will be billed. Must be specified if billing contact and billing address are not specified</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="13"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="billingContact" type="mef-order:contact">
        <xs:annotation>
          <xs:documentation>Identifies the information of the person or office to be contacted on billing matters. Used to establish a new billing account. Must be specified if existingBillingAccountNumber is not specified.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="billingAddress">
        <xs:annotation>
          <xs:documentation>Identifies a property address or postal delivery address. Used to establish a new billing account. Must be specified if existingBillingAccountNumber is not specified.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:choice>
            <xs:element name="formattedAddress" type="mef-order:formattedAddress"/>
            <xs:element name="fieldedAddress" type="mef-order:fieldedAddress"/>
            <xs:element name="addressReference" type="mef-order:addressReference"/>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="contact">
    <xs:sequence>
      <xs:element minOccurs="1" name="name">
        <xs:annotation>
          <xs:documentation>Identifies the name of the person or office.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="15"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" name="telephoneNumber">
        <xs:annotation>
          <xs:documentation>Identifies the telephone number (excluding extension) of the Contact.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="15"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="telephoneNumberExt">
        <xs:annotation>
          <xs:documentation>Identifies the telephone number extension of the Contact.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="6"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="email">
        <xs:annotation>
          <xs:documentation>Identifies the electronic mail address of the Contact.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="60"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="disconnectOrderItemDetail">
    <xs:sequence>
      <xs:element minOccurs="1" name="action">
        <xs:annotation>
          <xs:documentation>The action to be taken for this order item (E.g. Install, Change).</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="DISCONNECT"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" name="sellerServiceOrEndpointId">
        <xs:annotation>
          <xs:documentation>One or more of the following Seller-assigned values may be included: OVC Identifier, EVC Identifier, UNI Identifier, ENNI Identifier.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="45"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="buyerServiceOrEndpointId">
        <xs:annotation>
          <xs:documentation>One or more of the following Buyer-assigned values may be included: Buyer OVC Identifier, Buyer EVC Identifier, Buyer UNI Identifier, Buyer ENNI Identifier.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="45"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="existingEnniReference">
    <xs:sequence>
      <xs:element minOccurs="1" name="sellerEnniId">
        <xs:annotation>
          <xs:documentation>The circuit identifier that the seller uses to refer to this ENNI.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="45"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="buyerEnniId">
        <xs:annotation>
          <xs:documentation>The circuit identifier that the buyer uses to refer to this ENNI.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="45"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="existingUniReference">
    <xs:sequence>
      <xs:element minOccurs="1" name="sellerUniId">
        <xs:annotation>
          <xs:documentation>The circuit identifier that the seller uses to refer to this UNI.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="45"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="buyerUniId">
        <xs:annotation>
          <xs:documentation>The circuit identifier that the buyer uses to refer to this UNI.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="45"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fieldedAddress">
    <xs:sequence>
      <xs:element minOccurs="0" name="streetNr">
        <xs:annotation>
          <xs:documentation>Number identifying a specific property on a public street. It may be combined with streetNrLast for ranged addresses.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="streetNrSuffix">
        <xs:annotation>
          <xs:documentation>The suffix of the first street number (in a street number range) or the suffix for the street number if there is no range.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="streetNrLast">
        <xs:annotation>
          <xs:documentation>Last number in a range of street numbers allocated to an address.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="streetName">
        <xs:annotation>
          <xs:documentation>The name of the street or other street type.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="60"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="streetType">
        <xs:annotation>
          <xs:documentation>The type of street (e.g., Street, St., Road, Rd., Alley).</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="streetSuffix">
        <xs:annotation>
          <xs:documentation>A modifier denoting a relative direction.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="subUnitType">
        <xs:annotation>
          <xs:documentation>The type of subunit (e.g., Flat, Suite, Tower, Unit).</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="subUnitNr">
        <xs:annotation>
          <xs:documentation>The discriminator used for the subunit, often just a sumple number but may also be a range.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="levelType">
        <xs:annotation>
          <xs:documentation>Describes level types within a building (e.g., Floor).</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="levelNr">
        <xs:annotation>
          <xs:documentation>Used where a level type may be repeated (e.g., BASEMENT 1, BASEMENT 2).</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="buildingName">
        <xs:annotation>
          <xs:documentation>Allows for buildings with well-known names to be used in an address.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="60"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="privateStreetName">
        <xs:annotation>
          <xs:documentation>Private streets internal to a property (e.g., a university) with an internal name not recorded by the land title office.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="60"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="locality">
        <xs:annotation>
          <xs:documentation>A bounded locality within a city, town or shire principally of urban character.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="city">
        <xs:annotation>
          <xs:documentation>The city that the address is in.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="stateOrProvince">
        <xs:annotation>
          <xs:documentation>The state or province that the address is in.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="postcode">
        <xs:annotation>
          <xs:documentation>A descriptor for a postal delivery area, used to speed and simplify the delivery of mail.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="6"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="postcodeExtension">
        <xs:annotation>
          <xs:documentation>The four-digit extension on an American postal code, what comes after the hyphen when specified.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="4"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="country">
        <xs:annotation>
          <xs:documentation>The country that the address is in.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="formattedAddress">
    <xs:sequence>
      <xs:element minOccurs="0" name="addressLine1">
        <xs:annotation>
          <xs:documentation>A formatted address line that contains a non-fielded street address.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="60"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="addressLine2">
        <xs:annotation>
          <xs:documentation>A formatted address line that contains a non-fielded street address, sub-address (e.g. Suite number), etc.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="60"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="locality">
        <xs:annotation>
          <xs:documentation>A bounded locality within a city, town or shire principally of urban character.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="city">
        <xs:annotation>
          <xs:documentation>City that the address is in.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="stateOrProvince">
        <xs:annotation>
          <xs:documentation>The state or province that the address is in.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="postcode">
        <xs:annotation>
          <xs:documentation>A descriptor for a postal delivery area, used to speed and simplify the delivery of mail.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="6"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="postcodeExtension">
        <xs:annotation>
          <xs:documentation>The four-digit extension on an American postal code, what comes after the hyphen when specified.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="4"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="country">
        <xs:annotation>
          <xs:documentation>The country that the address is in.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="geographicPoint">
    <xs:sequence>
      <xs:element minOccurs="1" name="latitude">
        <xs:annotation>
          <xs:documentation>Latitude of the point in decimal degrees format.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" name="longitude">
        <xs:annotation>
          <xs:documentation>Longitude of the point in decimal degrees format.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="informationRateQuantity">
    <xs:sequence>
      <xs:element minOccurs="0" name="amount" type="xs:decimal"/>
      <xs:element minOccurs="0" name="units">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Mbps"/>
            <xs:enumeration value="Gbps"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="link">
    <xs:sequence>
      <xs:element minOccurs="1" name="href">
        <xs:annotation>
          <xs:documentation>A URL. Specifies the location of the linked document.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" name="rel">
        <xs:annotation>
          <xs:documentation>Specifies the relationship between the current document and the linked document.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="title">
        <xs:annotation>
          <xs:documentation>Provide additional / advisory information (expand on the meaning of the link).</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="method">
        <xs:annotation>
          <xs:documentation>Specifies how to send the data (e.g. get, post).</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="get"/>
            <xs:enumeration value="post"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="type">
        <xs:annotation>
          <xs:documentation>Specifies the media type of the linked document.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="order-create-update">
    <xs:sequence>
      <xs:element minOccurs="1" name="buyerId">
        <xs:annotation>
          <xs:documentation>A Party Role played by an Individual or an Organization that buys products and services from a Seller. Specifically, the ID of the Service Provider (Buyer) organization placing the order.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" name="sellerId">
        <xs:annotation>
          <xs:documentation>services to a buyer. Specifically, the ID of the Partner/Access Provider (Seller) organization receiving the order.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" name="buyerPurchaseOrderNumber">
        <xs:annotation>
          <xs:documentation>A number that uniquely identifies a order within the buyer's enterprise.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="16"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" name="buyerOrderVersion">
        <xs:annotation>
          <xs:documentation>The version number that the Buyer uses to refer to this particular version of the order.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" name="orderDate" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Date when the order was created.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" name="orderActivity">
        <xs:annotation>
          <xs:documentation>The type of order, as defined by the business (e.g.,install, change, disconnect).</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="INSTALL"/>
            <xs:enumeration value="CHANGE"/>
            <xs:enumeration value="DISCONNECT"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="status">
        <xs:annotation>
          <xs:documentation>The status of the order.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="ACKNOWLEDGED"/>
            <xs:enumeration value="IN_PROGRESS"/>
            <xs:enumeration value="CANCELLED"/>
            <xs:enumeration value="COMPLETED"/>
            <xs:enumeration value="REJECTED"/>
            <xs:enumeration value="PENDING"/>
            <xs:enumeration value="HELD"/>
            <xs:enumeration value="FAILED"/>
            <xs:enumeration value="PARTIAL"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" name="desiredResponses">
        <xs:annotation>
          <xs:documentation>The type of order responses that the buyer wishes to receive from the seller.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="NONE"/>
            <xs:enumeration value="CONFIRMATION_ONLY"/>
            <xs:enumeration value="CONFIRMATION_AND_ENGINEERING_DESIGN"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="projectId">
        <xs:annotation>
          <xs:documentation>An identifier that is used to group Orders that represent a unit of functionality that is important to a Buyer. A Project can be used to relate multiple Orders together.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="16"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" name="requestedCompletionDate" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Identifies the buyer's desired due date (requested delivery date) formatted as  YYYY-MM-DD (eg 1997-07-16) or YYYY-MM-DDThh:mmTZD (eg 1997-07-16T19:20+01:00).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="requestedStartDate" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>If specified, identifies the buyer's desired  date for order processing to start.  Formatted as  YYYY-MM-DD (eg 1997-07-16) or YYYY-MM-DDThh:mmTZD (eg 1997-07-16T19:20+01:00).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="priority">
        <xs:annotation>
          <xs:documentation>Indicates that expedited treatment is requested and any charges generated in provisioning this request (e.g., additional engineering charges or labor charges if applicable) will be accepted; optional, can be used to indicate the assigned priority of this order relative to other orders in the Order Management system.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="4"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="billingInfo" type="mef-order:billingInformation">
        <xs:annotation>
          <xs:documentation>An existing billing information to set up a new billing account.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" name="buyerOrderContact" type="mef-order:contact">
        <xs:annotation>
          <xs:documentation>The contact information for the buyer of this order.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="buyerImplementationContact" type="mef-order:contact">
        <xs:annotation>
          <xs:documentation>The contact information for the implementation of this order.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="buyerTechnicalContact" type="mef-order:contact">
        <xs:annotation>
          <xs:documentation>The technical contact information for this order.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="pricingMethod">
        <xs:annotation>
          <xs:documentation>The pricing authority to be used to price the products on this order. Choice of Tariff, Contract, Individual Case Basis (ICB), Other.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="CONTRACT"/>
            <xs:enumeration value="TARIFF"/>
            <xs:enumeration value="ICB"/>
            <xs:enumeration value="OTHER"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="pricingReference">
        <xs:annotation>
          <xs:documentation>The value associated with the Pricing Method selected (e.g. a contract or tariff id).</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="pricingTerm">
        <xs:annotation>
          <xs:documentation>The length of the service contract in months. Example: 12, 60, 120.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="999"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="promotionId">
        <xs:annotation>
          <xs:documentation>A set of characters identifying a promotion. Company specific.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="18"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" name="orderType">
        <xs:annotation>
          <xs:documentation>Identifies the type of MEF service or service component that is being ordered.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="UNI"/>
            <xs:enumeration value="ACCESS_EPL"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="notes">
        <xs:annotation>
          <xs:documentation>Free form text used to clarify or explain the Order.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="300"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="serviceabilityResponse" type="mef-order:resourceReference">
        <xs:annotation>
          <xs:documentation>Value that associates this order with a previously assigned serviceability response.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="orderItems">
        <xs:annotation>
          <xs:documentation>An array of order items for this order.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="orderItem" type="mef-order:orderItem"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="order">
    <xs:sequence>
      <xs:element minOccurs="1" name="id">
        <xs:annotation>
          <xs:documentation>Unique identifier for the order that is generated by the Seller when the order is initially accepted via an API.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="15"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="link" type="mef-order:link">
        <xs:annotation>
          <xs:documentation>A self referencing link to the order.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" name="buyerId">
        <xs:annotation>
          <xs:documentation>A Party Role played by an Individual or an Organization that buys products and services from a Seller. Specifically, the ID of the Service Provider (Buyer) organization placing the order.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" name="sellerId">
        <xs:annotation>
          <xs:documentation>services to a buyer. Specifically, the ID of the Partner/Access Provider (Seller) organization receiving the order.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" name="buyerPurchaseOrderNumber">
        <xs:annotation>
          <xs:documentation>A number that uniquely identifies a order within the buyer's enterprise.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="16"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" name="buyerOrderVersion">
        <xs:annotation>
          <xs:documentation>The version number that the Buyer uses to refer to this particular version of the order.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" name="orderDate" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Date when the order was created.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" name="orderActivity">
        <xs:annotation>
          <xs:documentation>The type of order, as defined by the business (e.g.,install, change, disconnect).</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="INSTALL"/>
            <xs:enumeration value="CHANGE"/>
            <xs:enumeration value="DISCONNECT"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="status">
        <xs:annotation>
          <xs:documentation>The status of the order.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="ACKNOWLEDGED"/>
            <xs:enumeration value="IN_PROGRESS"/>
            <xs:enumeration value="CANCELLED"/>
            <xs:enumeration value="COMPLETED"/>
            <xs:enumeration value="REJECTED"/>
            <xs:enumeration value="PENDING"/>
            <xs:enumeration value="HELD"/>
            <xs:enumeration value="FAILED"/>
            <xs:enumeration value="PARTIAL"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" name="desiredResponses">
        <xs:annotation>
          <xs:documentation>The type of order responses that the buyer wishes to receive from the seller.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="NONE"/>
            <xs:enumeration value="CONFIRMATION_ONLY"/>
            <xs:enumeration value="CONFIRMATION_AND_ENGINEERING_DESIGN"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="projectId">
        <xs:annotation>
          <xs:documentation>An identifier that is used to group Orders that represent a unit of functionality that is important to a Buyer. A Project can be used to relate multiple Orders together.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="16"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" name="requestedCompletionDate" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Identifies the buyer's desired due date (requested delivery date) formatted as  YYYY-MM-DD (eg 1997-07-16) or YYYY-MM-DDThh:mmTZD (eg 1997-07-16T19:20+01:00).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="requestedStartDate" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>If specified, identifies the buyer's desired  date for order processing to start.  Formatted as  YYYY-MM-DD (eg 1997-07-16) or YYYY-MM-DDThh:mmTZD (eg 1997-07-16T19:20+01:00).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="priority">
        <xs:annotation>
          <xs:documentation>Indicates that expedited treatment is requested and any charges generated in provisioning this request (e.g., additional engineering charges or labor charges if applicable) will be accepted; optional, can be used to indicate the assigned priority of this order relative to other orders in the Order Management system.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="4"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="billingInfo" type="mef-order:billingInformation">
        <xs:annotation>
          <xs:documentation>An existing billing information to set up a new billing account.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" name="buyerOrderContact" type="mef-order:contact">
        <xs:annotation>
          <xs:documentation>The contact information for the buyer of this order.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="buyerImplementationContact" type="mef-order:contact">
        <xs:annotation>
          <xs:documentation>The contact information for the implementation of this order.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="buyerTechnicalContact" type="mef-order:contact">
        <xs:annotation>
          <xs:documentation>The technical contact information for this order.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="pricingMethod">
        <xs:annotation>
          <xs:documentation>The pricing authority to be used to price the products on this order. Choice of Tariff, Contract, Individual Case Basis (ICB), Other.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="CONTRACT"/>
            <xs:enumeration value="TARIFF"/>
            <xs:enumeration value="ICB"/>
            <xs:enumeration value="OTHER"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="pricingReference">
        <xs:annotation>
          <xs:documentation>The value associated with the Pricing Method selected (e.g. a contract or tariff id).</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="pricingTerm">
        <xs:annotation>
          <xs:documentation>The length of the service contract in months. Example: 12, 60, 120.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="999"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="promotionId">
        <xs:annotation>
          <xs:documentation>A set of characters identifying a promotion. Company specific.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="18"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" name="orderType">
        <xs:annotation>
          <xs:documentation>Identifies the type of MEF service or service component that is being ordered.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="UNI"/>
            <xs:enumeration value="ACCESS_EPL"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="notes">
        <xs:annotation>
          <xs:documentation>Free form text used to clarify or explain the Order.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="300"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="serviceabilityResponse" type="mef-order:resourceReference">
        <xs:annotation>
          <xs:documentation>Value that associates this order with a previously assigned serviceability response.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="orderItems">
        <xs:annotation>
          <xs:documentation>An array of order items for this order.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="orderItem" type="mef-order:orderItem"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="orderItem">
    <xs:sequence>
      <xs:element minOccurs="1" name="orderItemReference">
        <xs:annotation>
          <xs:documentation>A reference number that can be used to refer to this order item.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="4"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" name="quantity">
        <xs:annotation>
          <xs:documentation>The quantity for the order item.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="orderItemDetail:">
        <xs:annotation>
          <xs:documentation>The ordering representation of the product specification being ordered with this order item.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:choice>
            <xs:element name="accessEplOrderItemDetail" type="mef-order:accessEplOrderItemDetail"/>
            <xs:element name="uniOrderItemDetail" type="mef-order:uniOrderItemDetail"/>
            <xs:element name="disconnectOrderItemDetail" type="mef-order:disconnectOrderItemDetail"/>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="orderList">
    <xs:sequence>
      <xs:element minOccurs="0" name="available" type="xs:int">
        <xs:annotation>
          <xs:documentation>The number of items available for this list.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="returned" type="xs:int">
        <xs:annotation>
          <xs:documentation>The number of items returned for this list.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="link" type="mef-order:link">
        <xs:annotation>
          <xs:documentation>A self referencing link to the Order list.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="orders">
        <xs:annotation>
          <xs:documentation>An array of Order.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="order" type="mef-order:order"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="orderNotification">
    <xs:sequence>
      <xs:element minOccurs="1" name="orderId">
        <xs:annotation>
          <xs:documentation>Unique identifier for the order that is generated by the Seller when the order is initially accepted via an API.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="15"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="link" type="mef-order:link">
        <xs:annotation>
          <xs:documentation>A self referencing link to the Order.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" name="buyerId">
        <xs:annotation>
          <xs:documentation>A Party Role played by an Individual or an Organization that buys products and services from a Seller. Specifically, the ID of the Service Provider (Buyer) organization placing the order.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" name="sellerId">
        <xs:annotation>
          <xs:documentation>An organization that provides products and services to a buyer. Specifically, the ID of the Partner/Access Provider (Seller) organization receiving the order.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" name="buyerPurchaseOrderNumber">
        <xs:annotation>
          <xs:documentation>A number that uniquely identifies a order within the buyer's enterprise.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="16"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" name="buyerOrderVersion">
        <xs:annotation>
          <xs:documentation>The version number that the Buyer uses to refer to this particular version of the order.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="projectId">
        <xs:annotation>
          <xs:documentation>An identifier that is used to group Orders that represent a unit of functionality that is important to a Buyer. A Project can be used to relate multiple Orders together.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="16"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="requestedCompletionDate" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Identifies the customer's requested completion date for the Order. Formatted as YYYY-MM-DD (eg 1997-07-16) or YYYY-MM-DDThh:mmTZD (eg 1997-07-16T19:20+01:00).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="expectedCompletionDate" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Identifies the date the Seller expects to complete the Order. Formatted as YYYY-MM-DD (eg 1997-07-16) or YYYY-MM-DDThh:mmTZD (eg 1997-07-16T19:20+01:00).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="completionDate" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Identifies the date the Seller completed the Order. Formatted as YYYY-MM-DD (eg 1997-07-16) or YYYY-MM-DDThh:mmTZD (eg 1997-07-16T19:20+01:00).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" name="orderStatus">
        <xs:annotation>
          <xs:documentation>The status of the order.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="ACKNOWLEDGED"/>
            <xs:enumeration value="IN_PROGRESS"/>
            <xs:enumeration value="CANCELLED"/>
            <xs:enumeration value="COMPLETED"/>
            <xs:enumeration value="REJECTED"/>
            <xs:enumeration value="PENDING"/>
            <xs:enumeration value="HELD"/>
            <xs:enumeration value="FAILED"/>
            <xs:enumeration value="PARTIAL"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="billingAccountNumber">
        <xs:annotation>
          <xs:documentation>Identifies the Billing Account to use to bill the ordered products.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="13"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="sellerOvcId">
        <xs:annotation>
          <xs:documentation>The circuit identifier that the Seller uses to refer to this OVC.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="45"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="sellerEvcId">
        <xs:annotation>
          <xs:documentation>The circuit identifier that the Seller uses to refer to his EVC.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="45"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="sellerUniId">
        <xs:annotation>
          <xs:documentation>The circuit identifier that the Seller uses to refer to this UNI.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="45"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="sellerEnniId">
        <xs:annotation>
          <xs:documentation>The circuit identifier that the Seller uses to refer to this ENNI.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="45"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="buyerOvcId">
        <xs:annotation>
          <xs:documentation>The circuit identifier that the Partner/Access Provider (Buyer) uses to refer to this OVC.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="45"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="buyerEvcId">
        <xs:annotation>
          <xs:documentation>The circuit identifier that the Partner/Access Provider (Buyer) uses to refer to this EVC.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="45"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="buyerUniId">
        <xs:annotation>
          <xs:documentation>The circuit identifier that the Partner/Access  Provider (Buyer) uses to refer to this UNI.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="45"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="buyerEnniId">
        <xs:annotation>
          <xs:documentation>The circuit identifier that the Partner / Access Provider (Buyer) uses to refer to this ENNI.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="45"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="svlanId">
        <xs:annotation>
          <xs:documentation>The S-VLAN ID assigned by the Seller for this service or the first S-VLAN ID when a range is used.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="4"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="svlanIdLast">
        <xs:annotation>
          <xs:documentation>The S-VLAN ID assigned by the Seller for this service when a range is used.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="4"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="orderStatus">
    <xs:sequence>
      <xs:element minOccurs="1" name="orderId">
        <xs:annotation>
          <xs:documentation>Unique identifier for the order that is generated by the Seller when the order is initially accepted via an API.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="15"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="link" type="mef-order:link">
        <xs:annotation>
          <xs:documentation>A self referencing link to the order.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" name="buyerId">
        <xs:annotation>
          <xs:documentation>A Party Role played by an Individual or an Organization that buys products and services from a Seller. Specifically, the ID of the Service Provider (Buyer) organization placing the order.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" name="sellerId">
        <xs:annotation>
          <xs:documentation>An organization that provides products and services to a buyer. Specifically, the ID of the Partner/Access Provider (Seller) organization receiving the order.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" name="buyerPurchaseOrderNumber">
        <xs:annotation>
          <xs:documentation>A number that uniquely identifies a order within the buyer's enterprise.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="16"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" name="buyerOrderVersion">
        <xs:annotation>
          <xs:documentation>The version number that the Buyer uses to refer to this particular version of the order.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="projectId">
        <xs:annotation>
          <xs:documentation>An identifier that is used to group Orders that represent a unit of functionality that is important to a Buyer. A Project can be used to relate multiple Orders together.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="16"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" name="requestedCompletionDate" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Identifies the customer's requested completion date for the Order. Formatted as YYYY-MM-DD (eg 1997-07-16) or YYYY-MM-DDThh:mmTZD (eg 1997-07-16T19:20+01:00).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="expectedCompletionDate" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Identifies the date the Seller expects to complete the Order. Formatted as YYYY-MM-DD (eg 1997-07-16) or YYYY-MM-DDThh:mmTZD (eg 1997-07-16T19:20+01:00).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" name="orderStatus">
        <xs:annotation>
          <xs:documentation>The status of the order.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="ACKNOWLEDGED"/>
            <xs:enumeration value="IN_PROGRESS"/>
            <xs:enumeration value="CANCELLED"/>
            <xs:enumeration value="COMPLETED"/>
            <xs:enumeration value="REJECTED"/>
            <xs:enumeration value="PENDING"/>
            <xs:enumeration value="HELD"/>
            <xs:enumeration value="FAILED"/>
            <xs:enumeration value="PARTIAL"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="orderedEnniReference">
    <xs:sequence>
      <xs:element minOccurs="0" name="orderId">
        <xs:annotation>
          <xs:documentation>An unique identifier for an order.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="15"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="buyerPurchaseOrderNumber">
        <xs:annotation>
          <xs:documentation>The purchase order number for the order that contains the referenced ENNI. This is required if the ordered ENNI is not on the same order as the orderedUniReference.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="16"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" name="orderItemReference">
        <xs:annotation>
          <xs:documentation>The order item reference for the ENNI on the referenced order, or on the current order if a buyerPurchaseOrderNumber is not provided.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="4"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="orderedUniReference">
    <xs:sequence>
      <xs:element minOccurs="0" name="orderId">
        <xs:annotation>
          <xs:documentation>An unique identifier for an order.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="15"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="buyerPurchaseOrderNumber">
        <xs:annotation>
          <xs:documentation>The purchase order number for the order that contains the referenced UNI. This is required if the ordered UNI is not on the same order as the orderedUniReference.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="16"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" name="orderItemReference">
        <xs:annotation>
          <xs:documentation>The order item reference for the UNI on the referenced order, or on the current order if a buyerPurchaseOrderNumber is not provided.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="4"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="resourceReference">
    <xs:sequence>
      <xs:element minOccurs="0" name="id">
        <xs:annotation>
          <xs:documentation>The resource's unique identifier.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="15"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="type">
        <xs:annotation>
          <xs:documentation>Specifies the type for the referenced resource.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="link" type="mef-order:link">
        <xs:annotation>
          <xs:documentation>A link for accessing the resource.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="serviceSiteInformation">
    <xs:sequence>
      <xs:element minOccurs="1" name="siteCompanyName">
        <xs:annotation>
          <xs:documentation>The name of the company that is located at the Service location. This may be different from the name of the Customer that ordered services at that Service Site.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="customerName">
        <xs:annotation>
          <xs:documentation>The name of the end (retail) customer for the UNI.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="siteAddressType">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="FIELDED_ADDRESS"/>
            <xs:enumeration value="FORMATTED_ADDRESS"/>
            <xs:enumeration value="ADDRESS_REFERENCE"/>
            <xs:enumeration value="GEOGRAPHIC_POINT"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" name="siteAddress">
        <xs:annotation>
          <xs:documentation>A property address for the site. Either a Site Address, a Site Code or a Site Geographic Point must be specified.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:choice>
            <xs:element name="formattedAddress" type="mef-order:formattedAddress"/>
            <xs:element name="fieldedAddress" type="mef-order:fieldedAddress"/>
            <xs:element name="geographicPoint" type="mef-order:geographicPoint"/>
            <xs:element name="addressReference" type="mef-order:addressReference"/>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="additionalSiteInformation">
        <xs:annotation>
          <xs:documentation>Additional information about the Site. Equates to the ASR AAI field.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="100"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="uniOrderItem">
    <xs:sequence>
      <xs:element minOccurs="1" name="orderItemReference">
        <xs:annotation>
          <xs:documentation>A reference number that can be used to refer to this order item.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="4"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" name="quantity">
        <xs:annotation>
          <xs:documentation>The quantity for the order item.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" name="action">
        <xs:annotation>
          <xs:documentation>The action to be taken for this order item (E.g. Install, Change).</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="INSTALL"/>
            <xs:enumeration value="CHANGE"/>
            <xs:enumeration value="NO_CHANGE"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="sellerUniId">
        <xs:annotation>
          <xs:documentation>The circuit identifier that the seller uses to refer to this UNI.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="45"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" name="buyerUniId">
        <xs:annotation>
          <xs:documentation>The circuit identifier that the buyer uses to refer to this UNI.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="45"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="productSpecification">
        <xs:annotation>
          <xs:documentation>An identifier of the sellers product specification (product catalog item) that the buyer is ordering. This is optional, and specified if known to assist the seller in identifying the exact Access EPL Product that is being ordered.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="buyerOrderReference">
        <xs:annotation>
          <xs:documentation>When the Seller has not yet assigned the Seller UNI Identifier, this field identifies the in-flight Order associated with this UNI.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="45"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="physicalLayer">
        <xs:annotation>
          <xs:documentation>The layer (layer 1) that provides transparent transmission of a bit stream over a circuit built from some physical communications medium.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="10BASE_T"/>
            <xs:enumeration value="100BASE_TX"/>
            <xs:enumeration value="100BASE_FX"/>
            <xs:enumeration value="1000BASE_T"/>
            <xs:enumeration value="1000BASE_SX"/>
            <xs:enumeration value="1000BASE_LX"/>
            <xs:enumeration value="10GBASE_SR"/>
            <xs:enumeration value="10GBASE_SW"/>
            <xs:enumeration value="10GBASE_LR"/>
            <xs:enumeration value="10GBASE_LW"/>
            <xs:enumeration value="10GBASE_ER"/>
            <xs:enumeration value="10GBASE_EW"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="synchronousModeEnabled" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Identifies if the synchronous transmissions are to proceed at a constant rate.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="numberOfLinks">
        <xs:annotation>
          <xs:documentation>The number of links supporting the UNI.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="uniResiliency">
        <xs:annotation>
          <xs:documentation>Indicates UNI resiliency and corresponding value.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="NONE"/>
            <xs:enumeration value="2_LINK_ACTIVE_STANDBY"/>
            <xs:enumeration value="ALL_ACTIVE"/>
            <xs:enumeration value="OTHER"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="maxServiceFrameSize">
        <xs:annotation>
          <xs:documentation>Indicates the maximum service frame size at the UNI ENNI level.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="1522"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="tokenShareEnabled" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Identifies whether a given UNI is capable of sharing tokens across Bandwidth Profile Flows in an Envelope. MEF valid values are Enabled or Disabled.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="serviceMultiplexingEnabled" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Service Multiplexing can be either Enabled or Disabled.  A value of True would equate to 'Enabled'.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="bundlingEnabled" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Bundling can be either Enabled or Disabled.  A value of True would equate to 'Enabled'.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="allToOneBundlingEnabled" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>All-to-One Bundling can be either Enabled or Disabled.  A value of True would equate to 'Enabled'.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="linkOamEnabled" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Link OAM enables the operator to monitor and troubleshoot a single Ethernet link. For ordering, this is an optional parameter that may be requested.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="uniMegEnabled" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Request for monitoring of a UNI. For ordering, this is an optional parameter that may be requested.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="elmiEnabled" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Indicates the desire for management of the customer interface. For ordering, this is an optional parameter that may be requested.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="uniL2cpAddressSet">
        <xs:annotation>
          <xs:documentation>Identifies the discard/pass action for all non-peered layer two control protocols. Enumeration: 'CTA', 'CTB' or 'CTB-2'.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="CTA"/>
            <xs:enumeration value="CTB"/>
            <xs:enumeration value="CTB_2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="serviceSiteInformation" type="mef-order:serviceSiteInformation">
        <xs:annotation>
          <xs:documentation>The service site for the UNI.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" name="primarySiteContact" type="mef-order:contact">
        <xs:annotation>
          <xs:documentation>The primary site contact for the site.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="alternateSiteContact" type="mef-order:contact">
        <xs:annotation>
          <xs:documentation>The secondary site contact for the site.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="uniOrderItemDetail">
    <xs:sequence>
      <xs:element minOccurs="1" name="action">
        <xs:annotation>
          <xs:documentation>The action to be taken for this order item (E.g. Install, Change).</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="INSTALL"/>
            <xs:enumeration value="CHANGE"/>
            <xs:enumeration value="NO_CHANGE"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="sellerUniId">
        <xs:annotation>
          <xs:documentation>The circuit identifier that the seller uses to refer to this UNI.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="45"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" name="buyerUniId">
        <xs:annotation>
          <xs:documentation>The circuit identifier that the buyer uses to refer to this UNI.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="45"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="productSpecification">
        <xs:annotation>
          <xs:documentation>An identifier of the sellers product specification (product catalog item) that the buyer is ordering. This is optional, and specified if known to assist the seller in identifying the exact Access EPL Product that is being ordered.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="buyerOrderReference">
        <xs:annotation>
          <xs:documentation>When the Seller has not yet assigned the Seller UNI Identifier, this field identifies the in-flight Order associated with this UNI.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="45"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="physicalLayer">
        <xs:annotation>
          <xs:documentation>The layer (layer 1) that provides transparent transmission of a bit stream over a circuit built from some physical communications medium.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="10BASE_T"/>
            <xs:enumeration value="100BASE_TX"/>
            <xs:enumeration value="100BASE_FX"/>
            <xs:enumeration value="1000BASE_T"/>
            <xs:enumeration value="1000BASE_SX"/>
            <xs:enumeration value="1000BASE_LX"/>
            <xs:enumeration value="10GBASE_SR"/>
            <xs:enumeration value="10GBASE_SW"/>
            <xs:enumeration value="10GBASE_LR"/>
            <xs:enumeration value="10GBASE_LW"/>
            <xs:enumeration value="10GBASE_ER"/>
            <xs:enumeration value="10GBASE_EW"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="synchronousModeEnabled" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Identifies if the synchronous transmissions are to proceed at a constant rate.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="numberOfLinks">
        <xs:annotation>
          <xs:documentation>The number of links supporting the UNI.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="uniResiliency">
        <xs:annotation>
          <xs:documentation>Indicates UNI resiliency and corresponding value.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="NONE"/>
            <xs:enumeration value="2_LINK_ACTIVE_STANDBY"/>
            <xs:enumeration value="ALL_ACTIVE"/>
            <xs:enumeration value="OTHER"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="maxServiceFrameSize">
        <xs:annotation>
          <xs:documentation>Indicates the maximum service frame size at the UNI ENNI level.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="1522"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="tokenShareEnabled" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Identifies whether a given UNI is capable of sharing tokens across Bandwidth Profile Flows in an Envelope. MEF valid values are Enabled or Disabled.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="serviceMultiplexingEnabled" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Service Multiplexing can be either Enabled or Disabled.  A value of True would equate to 'Enabled'.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="bundlingEnabled" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Bundling can be either Enabled or Disabled.  A value of True would equate to 'Enabled'.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="allToOneBundlingEnabled" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>All-to-One Bundling can be either Enabled or Disabled.  A value of True would equate to 'Enabled'.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="linkOamEnabled" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Link OAM enables the operator to monitor and troubleshoot a single Ethernet link. For ordering, this is an optional parameter that may be requested.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="uniMegEnabled" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Request for monitoring of a UNI. For ordering, this is an optional parameter that may be requested.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="elmiEnabled" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Indicates the desire for management of the customer interface. For ordering, this is an optional parameter that may be requested.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="uniL2cpAddressSet">
        <xs:annotation>
          <xs:documentation>Identifies the discard/pass action for all non-peered layer two control protocols. Enumeration: 'CTA', 'CTB' or 'CTB-2'.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="CTA"/>
            <xs:enumeration value="CTB"/>
            <xs:enumeration value="CTB_2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="serviceSiteInformation" type="mef-order:serviceSiteInformation">
        <xs:annotation>
          <xs:documentation>The service site for the UNI.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" name="primarySiteContact" type="mef-order:contact">
        <xs:annotation>
          <xs:documentation>The primary site contact for the site.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="alternateSiteContact" type="mef-order:contact">
        <xs:annotation>
          <xs:documentation>The secondary site contact for the site.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
